<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./imgs/weather-icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather</p>
        <form>
            <input placeholder="Location">
            <button>Get forecast</button>
        </form>
        <p id="forecast"></p>
    </div>
    
    {{>footer }}
    <script src="./js/app.js"></script>
</body>
</html>